<div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">City of origin</span>
    </div>
    <input [(ngModel)]="cityOriginSearch" type="text" class="form-control" placeholder="Search" aria-label="City origin" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">City of destination</span>
    </div>
    <input [(ngModel)]="cityOriginDestination" type="text" class="form-control" placeholder="Search" aria-label="City destination" aria-describedby="basic-addon2">
  </div>

  <select  [(ngModel)]="company">
    <option *ngFor="let company of companiesOptions" value={{company}}>
      {{company}}
    </option>
  </select>

  <div class="row list-flight-item" *ngFor="let flight of flights | filter : cityOriginSearch : cityOriginDestination : company">
    <div class="col-md-4">
      <p><span class="font-weight-bold">Company: </span>{{ flight.company }}</p>
      <p><span class="font-weight-bold">City origin: </span>{{ flight.cityOrigin }}</p>
      <p><span class="font-weight-bold">City destination: </span>{{ flight.cityDestination }}</p>
    </div>
    <div class="col-md-4">
      <p><span class="font-weight-bold">Airport origin: </span>{{ flight.airportOrigin }}</p>
      <p><span class="font-weight-bold">Airport destination: </span>{{ flight.airportDestination }}</p>
    </div>
    <div class="col-md-4">
      <p><span class="font-weight-bold">Date takeoff: </span>{{ flight.dateTakeOff }}</p>
      <p><span class="font-weight-bold">Date landing: </span>{{ flight.dateLanding }}</p>
    </div>
  </div>
</div>