<div>
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons; let i=index">
      <th scope="row">{{ i+1 }}</th>
      <td><img src="{{ person.picture }}"></td>
      <td>{{ person.name }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.address }}</td>
      <td>{{ person.price }}</td>
      <td>
        <a routerLink = "/flights/{{ person._id }}">
          See more
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>