<div>
  <div *ngFor="let person of persons" class="row list-people-item">
    <div class="col-md-4">
      <img src="{{ person.picture }}">
      {{ person.name }}
    </div>
    <div class="col-md-6">
      <p><span class="font-weight-bold">Email: </span>{{ person.email }}</p>
      <p><span class="font-weight-bold">Adress: </span>{{ person.address }}</p>
      <p><span class="font-weight-bold">Price: </span>{{ person.price }}</p>
    </div>
    <div class="col-md-2">
      <a routerLink = "/flights/{{ person._id }}">
        See flights
      </a>
    </div>
  </div>
</div>